html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
html{
	overflow-x: hidden;
    overflow-y: auto;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
p{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
/* mask */
.mask{
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}
/* alert */
.alert{
	box-sizing: border-box;
    width: 60%;
    max-height: 40%;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 10px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 0 4px;
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}